<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ttgapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ttgapp.styles.css" asp-append-version="true" />
</head>
@{
        var isHomePage = string.Equals(ViewContext.RouteData.Values["controller"]?.ToString(), "Home", StringComparison.OrdinalIgnoreCase)
                                    && string.Equals(ViewContext.RouteData.Values["action"]?.ToString(), "Index", StringComparison.OrdinalIgnoreCase);

        var loggedInUser = Context.Session.GetString("loggedinuser");
        var loggedInRole = Context.Session.GetString("loggedinuserRole");
}

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ttgapp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                                   <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (loggedInUser == null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="TouristPlaceTypes">Tourist Places</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Packages" asp-action="PublicPackages">Packages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Gallery" asp-action="Index">Image Gallery</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
                            </li>
                            
                        }

                        else if (loggedInRole == "User")

                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="TouristPlaceTypes">Tourist Places</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Packages" asp-action="PublicPackages">Packages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Gallery" asp-action="Index">Image Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Logout">Logout</a>
                            </li>
                            
                        }
                    </ul>
                </div>
                <div class="d-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form class="d-flex" asp-controller="Search" asp-action="Results" method="get">
                                <input class="form-control me-2" type="search" name="query" placeholder="Search places..." />
                                <button class="btn btn-outline-primary" type="submit">Search</button>
                                
                            </form>
                        </li> 
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (isHomePage)

    {
        <partial name="TopSlider" />

    }
    @* <partial name="TopSlider" /> *@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ttgapp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
