@model List<ttgapp.Models.TouristPlace>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family: 'Kalam', cursive; font-weight: 700; text-align: center;">
        Vanakkam 
    </h1>
</div>
<h2 style="font-family: 'Kalam', cursive; font-weight: 700; font-size: 2.0rem;">
    Popular Destinations
</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var place in Model)
    {
        <div class="col">
            <div class="card tourist-card" style="background-image: url('@place.TPImagePath');">
                <div class="overlay">
                    <h5>@place.TPName</h5>
                    <p>@place.TPDescription?.Substring(0, 70)...</p>
                    <a href="@Url.Action("Details", "TouristPlaces", new { id = place.TPId })" class="btn btn-success">Explore</a>
                </div>
            </div>
        </div>
    }
</div>

 

